<script src="/JS/FRAMEWORK/BussinessLogic/SinhvienBO.js" type="text/javascript"></script>
<script src="/JS/ForEachPage/Process_Sinhvien.js" type="text/javascript"></script>

<div class="fluid">
    <div class="widget">
        <div class="whead">
            
            <h6>{sys_GetText(200,'Thêm dữ liệu');}</h6>
            <div class="clear"></div>
        </div>

        <form id="frmIns_Sinhvien">          
            <label name="txthoten">Họ tên</label><input type="text" id="txthoten" name="txthoten" />
            <label name="txtdiachi">Dia chi </label><input type="text" id="txtdiachi" name="txtdiachi" />
            <label name="txttuoi">Tuoi</label><input type="text" id="txttuoi" name="txttuoi" />
            <br /><br/>
            <div class="grid3">
                <a class="buttonM bRed" onclick="InsertSinhVien();">
                    <span class="icon-checkmark-3"></span>
                    <span>{sys_GetText(239,'Save')}</span>
                </a>
            </div>       
        </form>
    </div>
</div>
